
body {
    margin: 0;
}
#layout {
}
#menu {
    transition: margin 1s ease;
    position: fixed;
    background: #333;
    color: #fff;
    width: 240px;
    height: 100%;
    box-sizing: border-box;
    overflow-y: scroll;
}
#menu a {
    color: #fff;
}
#menu a:hover {
    color: #fff;
}
#menu a:visited {
    color: #fff;
}
#main {
    transition: margin 1s ease;
    margin-left: 240px;
    box-sizing: border-box;
}

#header {
    background: #ccf;
    display: flex;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
}
#body {
    background: #fff;
    padding: 10px;
}

.hamburger {
    box-sizing: border-box;
    width: 3%;
}
.brand {
    text-align: center;
    box-sizing: border-box;
    width: 94%;
}
.notification {
    box-sizing: border-box;
    width: 3%;
}

.menu-list {
    list-style: none;
}
.menu-item {
    padding: 0.4em 1em;
}
@media screen and (max-width:450px) {
#menu {
    margin-left: -240px;
}
#main {
    margin-left: 0px;
}
}

