.microcosm  {
    width: 800px;
    margin: 0 auto;
}
.item {
    padding: 15px;
    box-sizing: border-box;
}
.center {
    text-align: center;
}
.footer {
    padding: 15px 0px;
    text-align: center;
}
